body {
    background-color: #2c2c2c; /* Майнкрафт стиліндегі қараңғы фон */
    color: white;
    font-family: 'Courier New', Courier, monospace; /* Пиксельдік қаріпке жақын */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

.box {
    background-color: #3f3f3f;
    padding: 30px;
    border: 4px solid #000;
    box-shadow: 10px 10px 0px #000;
}

h1 {
    text-transform: uppercase;
    color: #fff;
    text-shadow: 2px 2px 0px #000;
}

.highlight {
    background-color: #555;
    padding: 5px 10px;
    font-weight: bold;
    color: #00ff00; /* Порт пен IP жасыл түспен */
}

/* Сурет анимациясы */
.animated-img {
    width: 150px;
    height: 150px;
    animation: moveAround 4s infinite alternate;
}

@keyframes moveAround {
    0% { transform: translate(0, 0); }
    25% { transform: translate(10px, 10px); }
    50% { transform: translate(-10px, 15px); }
    75% { transform: translate(15px, -10px); }
    100% { transform: translate(-5px, 5px); }
}
